<div class="form-block">
	<div class="block-header">
		<div class="row">
			<div class="col-md-3">
				<a href="go/user/profile/<? echo $pl->name(); ?>"><? echo $pl->name(); ?></a>
			</div>
			<div class="col-md-9">
				<div class="pull-right"><? echo $pm['date']; ?></div>
				<? echo $pm['topic']; ?>
			</div>
		</div>
	</div>
	<div class="block-line"></div>
	<div class="tab-pane" id="launcher">
		<div class="row">
			<div class="col-md-3" align="center">
				<a href="go/user/profile/<? echo $pl->name(); ?>"><img src="skin.php?mini=<? echo $pl->id(); ?>"
				                                                       width="80%"
				                                                       alt="<? echo $pl->name(); ?>"></a><br />
				<? echo $pl->getGroupName(); ?><br />
				Предупрежениия: <? echo $pl->warnLVL(); ?>%
			</div>
			<div class="col-md-9">
				<? echo $pm['stext']; ?>
			</div>
		</div>
		<div class="pull-right">
			<form class="form-inline" action="go/pm/write" method="POST">
				<input type="hidden" name="name" value="<? echo $pl->name(); ?>">
				<input type="hidden" name="topic" value="Re: <? echo $pm['topic']; ?>">
				<input type="hidden" name="message" value='[quote="<? echo $pl->name(); ?>"]<? echo $pm[' text'];
				?>[/quote]'>
				<button class="btn btn-info btn-xs"><i class="glyphicon glyphicon-share-alt"></i> Ответить</button>
			</form>
		</div>
	</div>
</div>