<div id="login-box" class="panel panel-default" style="border-radius: 0px;margin-top:12px;padding-bottom: 10px">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> {AUTH}</h3>
	</div>
	<div class="panel-body">
		<form action="https://worldsofcubes.net/go/WoCAuth" method="post" id="loginform">
			<div style="text-align: center;">
				<input type="hidden" name="proj_id" value="<?=$config['woc_id']?>">
				<button class="btn btn-default btn-block">
					<img height="14" src="//worldsofcubes.net/style/Default/ico/favicon.ico"> Войти через WorldsOfCubes
				</button>


			</div>
		</form>
	</div>
</div>