<form action="index.php?mode=control&amp;do=constants" method="post" enctype="multipart/form-data">

	<div class="tabbable" style="margin-top: 12px; padding: 10px;">

		<ul class="nav nav-tabs">

			<li class="active"><a href="#tab1" data-toggle="tab">Основные настройки</a></li>
			<li><a href="#tab2" data-toggle="tab">Почтовый сервер</a></li>
			<li><a href="#tab4" data-toggle="tab">Темы оформления</a></li>
			<li><a href="#tab3" data-toggle="tab">Дополнительно</a></li>
		</ul>

		<div class="tab-content">

			<div class="tab-pane active" id="tab1">

				<label>Название сайта:</label>
				<span class="help-block">Название, отображаемое в заголовке и на страницах сайта. </span>
				<input type="text" class="form-control" style="width:300px" name="site_name" value="<?php echo $config['s_name']; ?>">

				<label>Описание сайта:</label>
				<span class="help-block">По умолчанию используется для индексации сайта поисковыми машинами. Так же отображается под названием сайта.</span>
				<input type="text" class="form-control" style="width:300px" name="site_about" value="<?php echo $config['s_about']; ?>">

				<label>Ключевые слова:</label>
				<span class="help-block">Используются для индексации сайта поисковыми машинами. Вводить через пробел, общая длинна не > 200 символов </span>
				<input type="text" class="form-control" style="width:300px" name="site_keyword" value="<?php echo $config['s_keywords']; ?>">

				<label class="checkbox">
					<input type="checkbox" name="comm_revers" value="1" <?php echo ($config['comm_revers'])?'checked="checked"':'' ?>> Комментарии в обратном порядке
				</label>
				<span class="help-block">Новые в конец, страница листинга комментариев по умолчанию последняя.</span>

				<label class="checkbox">
					<input type="checkbox" name="news_author" value="1" <?php echo ($config['news_author'])?'checked="checked"':'' ?>> Показывать авторов новостей
				</label>
				<span class="help-block">Отображать ли ники пользователея, который опубликовал новость.</span>

				<label class="checkbox">
					<input type="checkbox" name="sbuffer" value="1" <?php echo ($config['sbuffer'])?'checked="checked"':'' ?>> Буферизация генерируемых изображений
				</label>
				<span class="help-block">Рекомендуется включить, если вы намерены разрешить использование HD скинов на вашем сайте.</span>

				<label class="checkbox">
					<input type="checkbox" name="rewrite" value="1" <?php echo ($config['rewrite'])?'checked="checked"':'' ?>> Простые ссылки на новости
				</label>
				<span class="help-block">Если сервер использует модуль mod_rewrite, можно активировать эту опцию для замены ссылок вида site.ru/index.php?id=2334 на site.ru/news/2334</span>

			</div>

			<div class="tab-pane" id="tab2">

				<label>Имя отправителя:</label>
				<input type="text" class="form-control" style="width:300px" name="email_name" value="<?php echo sqlConfigGet('email-name') ?>">

				<label>Обратный адрес:</label>
				<input type="text" class="form-control" style="width:300px" name="email_mail" value="<?php echo sqlConfigGet('email-mail') ?>">
				<span class="help-block">Обычно должен соответствовать адресу, прописаному в настройках php.ini или пользователю smtp. </span>

				<label>Отправить тестовое сообщение на:</label>
				<input type="text" class="form-control" style="width:300px" name="email_test">

				<label class="checkbox">
					<input type="checkbox" name="smtp" value="1" <?php echo ($config['smtp'])?'checked="checked"':'' ?>> Использовать заданые настройки smtp
				</label>
				<span class="help-block">В обход настроеной функции mail из файла php.ini вашего web сервера. </span>

				<label class="checkbox">
					<input type="checkbox" name="smtp_tls" value="1" <?php echo ($config['smtp_tls'])?'checked="checked"':'' ?>> Использовать TLS/SSL шифрование
				</label>
				<span class="help-block">Включает поддержку TLS/SSL шифрования. Нужно при отправке через сервера Google и Яндекса.</span>

				<label>Пользователь smtp:</label>
				<input type="text" class="form-control" style="width:300px" name="smtp_user" value="<?php echo sqlConfigGet('smtp-user') ?>">

				<label>Пароль пользователя:</label>
				<input type="password" name="smtp_pass" class="form-control" style="width:300px" value="<?php echo (sqlConfigGet('smtp-pass'))? '**defined**' : '' ?>">

				<label>Адрес сервера:</label>
				<input type="text" class="form-control" style="width:300px" name="smtp_host" value="<?php echo sqlConfigGet('smtp-host');  ?>">

				<label>Порт:</label>
				<input type="text" class="form-control" style="width:300px" name="smtp_port" value="<?php echo sqlConfigGet('smtp-port');  ?>">

				<label>Приветствие:</label>

				<input type="text" class="form-control" style="width:300px" name="smtp_hello" value="<?php echo sqlConfigGet('smtp-hello');  ?>">
				<span class="help-block">Системное сообщение приветствия, как правило либо HELO либо EHLO . Не менять без необходимости</span>

			</div>

			<div class="tab-pane" id="tab3">

				<label class="checkbox">
					<input type="checkbox" name="site_offline" value="1" <?php echo ($config['offline'])?'checked="checked"':'' ?>> Закрыть сайт ( режим "Технических работ" )
				</label>

				<div class="alert alert-info">
					В режиме "Технических работ" доступ к сайту будет доступен только пользователям из группы Администратор
				</div>

				<label class="checkbox">
					<input type="checkbox" name="site_install" value="1" <?php echo ($config['install'])?'checked="checked"':'' ?>> Активировать инсталлятор
				</label>

				<div class="alert alert-danger">
					<b>Внимание!</b> Этот режим дает возможность повторно провести инсталляцию движка, например, при обновлении. Ни в коем случае не активируйте инсталлятор без необходимости иначе сайт может быть взломан! После установки инсталлятор автоматически деактивируется.
				</div>

				<label class="checkbox">
					<input type="checkbox" name="log" value="1" <?php echo ($config['log'])?'checked="checked"':'' ?>> Запись лога (<a href="index.php?mode=control&do=log">Просмотр</a>)
				</label>
				<span class="help-block">Запись сообщений об ошибках веб приложения в файл <?php echo MCR_ROOT.'log.txt' ?> . Обнуление файла при размере > 50мб</span>

			</div>
			<div class="tab-pane" id="tab4">

				<?php echo $theme_selector ?>

			</div>
		</div>

		<button type="submit" class="btn btn-default">Применить</button>

	</div>

</form>