<form action="control/donate/" method="post" id="updateform" enctype="multipart/form-data">
	<fieldset>

		<legend>Настройки автодоната</legend>

		<label>Стоимость VIP:</label>
		<span class="help-block">Сколько будут стоить VIP привелегиии.</span>
		<input type="text" class="form-control" style="width:300px" name="new_vipcash"
		       value="<?php echo $donate['vipcash'] ?>">

		<label>Стоимость Premium:</label>
		<span class="help-block">Сколько будут стоить Premium привелегиии.</span>
		<input type="text" class="form-control" style="width:300px" name="new_premiumcash"
		       value="<?php echo $donate['premiumcash'] ?>">

		<label>Стоимость первого разбана:</label>
		<span class="help-block">Сколько будет стоить первый разбан. В дальнейшем умножается на общее количество разбанов.</span>
		<input type="text" class="form-control" style="width:300px" name="new_unban"
		       value="<?php echo $donate['unban'] ?>">

		<label>Название валюты донат-счета:</label>
		<span class="help-block">Как будет называться какая донат-валюта.</span>
		<input type="text" class="form-control" style="width:300px" name="new_currency_donate"
		       value="<?php echo $donate['currency_donate'] ?>">

		<label>Название внутриигровой валюты:</label>
		<span class="help-block">Как будет называться внутриигровая валюта.</span>
		<input type="text" class="form-control" style="width:300px" name="new_currency_ingame"
		       value="<?php echo $donate['currency_ingame'] ?>">

		<label>Курс обмена валюты:</label>
		<span class="help-block">Сколько будет стоить рубль с донат-счета в игровой валюте.</span>
		<input type="text" class="form-control" style="width:300px" name="new_exchangehow"
		       value="<?php echo $donate['exchangehow'] ?>">

		<label>Бонус за голосование:</label>
		<span class="help-block">Сколько будут игроки получать за каждый голос.</span>
		<input type="text" class="form-control" style="width:300px" name="new_vote"
		       value="<?php echo $donate['vote'] ?>">

		<label>Бонус за каждое десятое голосование:</label>
		<span class="help-block">Сколько будут игроки получать за каждый десятый голос.</span>
		<input type="text" class="form-control" style="width:300px" name="new_vote10"
		       value="<?php echo $donate['vote10'] ?>">

		<label>Секретный ключ MCTop:</label>
		<span class="help-block">Можно узать в личном кабинете MCTop.</span>
		<input type="text" class="form-control" style="width:300px" name="new_vote_mct_secret_key"
		       value="<?php echo $donate['vote_mct_secret_key'] ?>">

		<label>Секретный ключ TopCraft:</label>
		<span class="help-block">Можно узать в настройках проекта на TopCraft.</span>
		<input type="text" class="form-control" style="width:300px" name="new_vote_topcraft_secret_key"
		       value="<?php echo $donate['vote_topcraft_secret_key'] ?>">

		<label class="checkbox">
			<input type="checkbox" name="new_ik_testing"
			       value="1" <?php echo ($donate['vote_real'])?'checked="checked"':'' ?>> Бонус на донат-счет
		</label>
		<span class="help-block">В противном случае он идет на игровую валюту.</span>

		<label>Публичный ключ магазина в UnitPay:</label>
		<span class="help-block">Можно узать в настройках проекта UnitPay.</span>
		<input type="text" class="form-control" style="width:300px" name="new_up_shop_id"
		       value="<?php echo $donate['up_shop_id'] ?>">

		<label>Секретный ключ UnitPay:</label>
		<span class="help-block">Можно узать в настройках проекта UnitPay.</span>
		<input type="text" class="form-control" style="width:300px" name="new_up_secret_key"
		       value="<?php echo $donate['ik_secret_key'] ?>">

		<label>ID магазина в Интеркассе:</label>
		<span class="help-block">Можно узать в личном кабинете Интеркассы.</span>
		<input type="text" class="form-control" style="width:300px" name="new_ik_shop_id"
		       value="<?php echo $donate['ik_shop_id'] ?>">

		<label>Секретный ключ Интеркассы:</label>
		<span class="help-block">Можно узать в личном кабинете Интеркассы.</span>
		<input type="text" class="form-control" style="width:300px" name="new_ik_secret_key"
		       value="<?php echo $donate['ik_secret_key'] ?>">

		<label>Секретный ключ Интеркассы для тестовых платежей:</label>
		<span class="help-block">Можно узать в личном кабинете Интеркассы.</span>
		<input type="text" class="form-control" style="width:300px" name="new_ik_secret_key_test"
		       value="<?php echo $donate['ik_secret_key_test'] ?>">

		<label class="checkbox">
			<input type="checkbox" name="new_ik_testing"
			       value="1" <?php echo ($donate['ik_testing'])?'checked="checked"':'' ?>> Принимать тестовые платежи
		</label>
		<span class="help-block">Принимать тестовые платежи Интеркассы (рекомендуется отключить после пуска проекта).</span>

		<br />

		<button type="submit" class="btn btn-default">Изменить</button>

	</fieldset>
</form>