<div class="form-block" style="margin-bottom: 12px;">

	<form method="post">
		<fieldset>

			<input type="hidden" name="step" value="2" />
			<input type="hidden" name="mysql_rewrite" value="<?php echo ConfigPostInt('mysql_rewrite') ?>" />
			<input type="hidden" name="mode" value="<?php echo $mode ?>" />

			<legend>2 / 3 Настройка протокола WoCAuth <?php echo $main_cms ?></legend>

			<label>Идентификатор проекта:</label>
			<input type="text" name="woc_id" class="form-control" style="width:300px">
			<span class="help-block">Одно простое число, без слова ID и пробелов.</span>

			<label>Защитный ключ проекта:</label>
			<input type="text" name="woc_security_key" class="form-control" style="width:300px">
			<span class="help-block">Возьмите из настроек проекта</span>

			<label>Логин администратора:</label>
			<input type="text" name="site_user" class="form-control" style="width:300px">
			<span class="help-block">Введите существующий аккаунт сети WorldsOfCubes чтобы присвоить ему права администратора в <?php echo PROGNAME; ?></span>

			<button type="submit" class="btn btn-default">Продолжить</button>

		</fieldset>
	</form>

</div>