<div class="form-block">

	<div class="block-header">Информация</div>
	<div class="block-line"></div>

	<div class="news-text">Для полного доступа к сайту, необходимо подтвердить Ваш почтовый адрес (<?php echo $out ?>).</div>

</div>

