<div class="form-group">
	<label class="col-lg-2 control-label" for="profile-cloak-file">Образ</label>

	<div class="col-lg-10">
		<input id="profile-cloak-file" type="file" name="new_skin" style="width:300px" size="20" />
	</div>
</div>

<div class="form-group">
	<label class="col-lg-2 control-label" for="profile-cloak-file">Плащ</label>

	<div class="col-lg-10">
		<input id="profile-cloak-file" type="file" style="width:300px" name="new_cloak" size="20" />
	</div>
</div>

<div class="form-group">
	<label class="col-lg-2 control-label" for="profile-cloak-file">Действия</label>

	<div class="col-lg-10">
		<a class="news-link" href="?mode=control&amp;user_id=<?php echo $user_id; ?>&amp;do=banip">Бан по IP</a> <br />
		<a class="news-link" href="?mode=control&amp;user_id=<?php echo $user_id; ?>&amp;do=ban">Заблокировать</a>
		<br />
		<a class="news-link" href="?mode=control&amp;user_id=<?php echo $user_id; ?>&amp;do=delete">Удалить</a> <br />
	</div>
</div>

<div class="form-group">
	<div class="col-lg-10">
		<input id="profile-button" class="btn btn-default" type="submit" onclick="UpdateProfile(1); return false" value="Изменить" />
	</div>
</div>

<input type="hidden" name="user_id" value="<?php echo $user_id; ?>" />

<input type="hidden" name="method" value="profile" />

</form>